cycler==0.10.0
decorator==4.3.0
imageio==2.3.0
kiwisolver==1.0.1
matplotlib==2.2.2
networkx==2.1
Pillow==4.3.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyWavelets==0.5.2
scikit-image==0.14.3
scipy==1.0.1
six==1.11.0
